$grey: #c5c5c5;
$white: #ffffff;

.og-image-fb {
  // visibility: hidden;
  width: 1800px;
  height: 945px;
  position: fixed;
  z-index: -1;
}

.bg-image {
  height: 100vh;
  object-fit: cover;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.form-wrapper {
  margin: 0 auto;
  max-width: 600px;
  padding: 2em 1em 4em;
}

.glu-logo-wrapper {
  align-items: center;
  display: flex;
  height: 70vh;
  justify-content: center;
  padding: 0 20%;
}

@keyframes color_change {
  from {
    stroke: $white;
  }

  to {
    stroke: $grey;
  }
}

#Glu-Logo path {
  stroke: $white;
  animation: color_change 2s infinite alternate;
}